<nav mat-tab-nav-bar>
  <a mat-tab-link 
    label="Leletek" 
    routerLink="../pdfextract"
    routerLinkActive #rla1="routerLinkActive"
    [active]="rla1.isActive">
    Leletek
  </a>
  <a mat-tab-link
    label="Páciens adatok"
    routerLink="../medicalrecords"
    routerLinkActive #rla2="routerLinkActive"
    [active]="rla2.isActive">
    Páciens adatok
  </a>
  <a mat-tab-link
  label="Grafikonok"
  routerLink="../medicalcharts"
  routerLinkActive #rla3="routerLinkActive"
  [active]="rla3.isActive">
    Grafikonok
</a>
</nav>
<mat-card >
      <mat-panel-title class="title">
          Páciens adatok
        </mat-panel-title>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <mat-list role="list" *ngIf="!isLoading">
          <mat-list-item role="listitem" ><span class="title">Név: </span>  {{this.patient.name}}</mat-list-item>
          <mat-list-item role="listitem"><span class="title">TAJ: </span> {{this.patient.taj}}</mat-list-item>
          <mat-list-item role="listitem" ><span class="title">Születési dátum: </span> {{this.patient.dateOfBirth | date:"yyyy.MM.dd"}}</mat-list-item>
        </mat-list>
</mat-card>